<h1>Hello, CMMI-Institute!</h1>
<p>Welcome to Restaurant Reviews with Complete User Interface(UI) and Web API</p>
<h4>The Problem</h4>
<p>
    CMMI Institute is in the midst of building a mobile application that will let restaurant patrons rate the restaurant in which they are eating. As part of the build, we need to develop an API that will accept and store the ratings and other sundry data.

    For this project, we would like you to build this api. Feel free to add your own twists and ideas to what type of data we should collect and return, but at a minimum your API should be able to:


</p>
<ol>
    <li>Get a list of restaurants by city</li>
    <li>Post a restaurant that is not in the database</li>
    <li>Post a review for a restaurant</li>
    <li>Get of a list of reviews by user</li>
    <li>Delete a review</li>
</ol>
<p>Please use whatever technology and techniques you feel are applicable to solve the problem. We suggest that you approach this exercise as if this code was part of a larger system. Code should be production quality with the end result representative of your abilities and style. We use Git (on TFS) internally; therefore, submissions are only accepted through Github. It is important to show that you can use these tools properly.</p>
<p>Please fork this repository. When you have completed your solution, please issue a pull request to notify us that you are ready.</p>
<p>Have fun.</p>

<hr />
<h2>Notes from Developer</h2>
<p>I have used .NET Core 2.0 Web API and Angular to complte this assignment.</p> 
<p>Please refer DBScript doc to create Database, Tables and Stored Procs</p>
<p>I have used ADO.NET to connect Database</p>
<p>Please see screen shots for UI and Web API Calls</p>



